body {
    background-color: rgb(255, 228, 194);
}

.movies {
    background-color: rgb(185, 185, 185);
}
.foods {
    background-color: rgb(185, 185, 185);
}

.music {
    background-color: rgb(185, 185, 185);
}